<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="DynamoVisualProgramming.Core" version="2.0.0-beta4066" targetFramework="net45" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.0.0-beta4066" targetFramework="net45" />
  <package id="DynamoVisualProgramming.WpfUILibrary" version="2.0.0-beta4066" targetFramework="net45" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.0.0-beta4066" targetFramework="net45" />
  <package id="LiveCharts" version="0.9.5" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.5" targetFramework="net46" />
  <package id="Microsoft.Chart.Controls" version="3.5.30729" targetFramework="net46" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
</packages>